* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
}

table thead {
  background-color: #2f383f;
}

table thead th {
  color: white;
  height: 60px;
}

tbody tr td {
  height: 50px;
  text-align: center;
}

tbody tr td:last-of-type {
  display: flex;
  justify-content: center;
}

button {
  height: 40px;
  margin-right: 10px;
  margin-top: 5px;
  width: 40px;
}

.edit-btn {
  background-color: #fc0;
  border: none;
  border-radius: 5px;
}

.delete-btn {
  background-color: #f60026;
  border: none;
  border-radius: 5px;
}
